#yHeader{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-bottom: 1em;
    color: white;
}

/* #divHeader{
    background-color: seagreen;
} */

.oneHeader{
    height: 50px;
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
}

#clickLogout{
    width: 53px;
    height: 50px;
}

table{
    display: flex;
    justify-content: center;
}

table tr th{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

th{
    font-size: xx-large;
    background-color: seagreen;
    color: white;
}

td {
    font-size: large;
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

#tableDiv1{
    margin-top: 15%;
    margin-bottom: 15%;
}